@model Tuan3.ViewModels.ArticleViewModel
<div class="panel panel-primary">
    <div class="panel-heading panel-heading-prod">
        <i class="fa fa-info-circle"></i>
        Bài viết Sản phẩm Của Shop HaiBeBong
    </div>
    <div class="panel-body" style="text-align:justify">
        <p>
          
            <div class="panel panel-primary">
                <div class="panel-heading panel-heading-prod">
                    <i class="fa fa-info-circle"></i>
                    [Review] Kem chống nắng Caryophy
                </div>
                <div class="panel-body" style="text-align:justify">
                    <!-- Hiển thị ảnh sản phẩm -->
                    <div class="text-center">
                        <img src="~/images/products/444_5a0f19af86a44bd4995c025a22d7c2fc_1024x1024_16126ba0293840ac8403170e96d54c75_1024x1024.webp" alt="Sản phẩm chống nắng" class="img-responsive">
                    </div>
                    <p>
                        [Review] Kem chống nắng Caryophy
                    </p>
                    <p>
                        Kem chống nắng Caryophy biết tới rộng rãi khi là một sản phẩm chống nắng tới từ thương hiệu mỹ phẩm Caryophy – Hàn Quốc. Đây là thương hiệu mỹ phẩm nổi tiếng sở hữu các tiêu chí phát triển sạch, tự nhiên và thuần khiến cho làn da người dùng. Do đó sau hơn 10 hình thành và phát triển, các dòng sản phẩm của thương hiệu này đã nhận được sự tin tưởng của nhiều người dùng trên thế giới.
                    </p>
                    <p>
                        Trước hết kem chống nắng Caryophy có công dụng bảo vệ da trước tia nắng mặt trời nguy hại. Đây là công dụng vượt trội nhất cũng như cần thiết nhất trong sản phẩm chống nắng dành cho mọi loại da. Dùng sản phẩm kem chống nắng Caryophy này còn giúp cấp ẩm cho da, giúp da mịn màng không khô hay nứt nẻ da. Đặc biệt còn cho công dụng cải thiện tình trạng lão hóa da vượt trội, giúp làm trẻ hóa làn da. Đồng thời sẽ hỗ trợ chị em phụ nữ lấy lại được làn da mịn màng mơ ước bấy lâu nay.
                    </p>
                    <p>
                        Giá: 100.000 VNĐ
                    </p>
                    <p>
                        Thông tin sản phẩm:
                    </p>
                    <ul>
                        <li>SPF: 50+</li>
                        <li>Thích hợp cho mọi loại da</li>
                        <li>Chứa thành phần tự nhiên giúp dưỡng da</li>
                    </ul>
                </div>
            </div>
        </p>

        <p>

            <div class="panel panel-primary">
                <div class="panel-heading panel-heading-prod">
                    <i class="fa fa-info-circle"></i>
                    [Review] sữa rửa mặt SVR
                </div>
                <div class="panel-body" style="text-align:justify">
                    <!-- Hiển thị ảnh sản phẩm -->
                    <div class="text-center">
                        <img src="~/images/products/sg-11134201-22120-gd89993r5ukv05_copy_b6a28d4077dc4f5abd47d32133714466.webp" alt="Sản phẩm chống nắng" class="img-responsive">
                    </div>
                    <p>
                        [Review] sữa rửa mặt SVR
                    </p>
                    <p>
                        SVR là một thương hiệu mỹ phẩm nổi tiếng của Pháp và là “đứa con tinh thần” của vợ chồng chuyên gia Simone và Robert Véret sáng lập năm 1962. Đến nay, sản phẩm của hãng đã có mặt tại hơn 45 quốc gia khác nhau trên thế giới. Đồng thời được khuyên dùng bởi hàng chục ngàn chuyên gia da liễu hàng đầu
                    </p>
                    <p>
                        Thành phần chính: Gluconolactone, Niacinamide, PEG-7 Glyceryl Cocoate, Glycerin, Lactic Acid.
                    </p>
                    <p>
                        Giá: 100.000 VNĐ
                    </p>
                    <p>
                        Thông tin sản phẩm:
                    </p>
                    <ul>
                        <li>SPF: 50+</li>
                        <li>Thích hợp cho mọi loại da</li>
                        <li>Chứa thành phần tự nhiên giúp dưỡng da</li>
                    </ul>
                </div>
            </div>
        </p>



       
    </div>
</div>
